<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>

        <div class="search-bar">
            <img src="/home.jpg" alt="Not Available">
            <h1>DSA PROBLEMS</h1>
            <form action="/search-result" method="POST">
                <textarea id="que" name="que" rows="1" colums = "20" required>Type you query here</textarea>
                <br>
                <br>
                <button class="btn">Submit</button>
            </form>
        </div>

        
    </body>

</html>